$dummyColor: silver;
$transitionSpeed: 0.2s;
$moduleCardIconHeight: 170px;
$moduleCardIconColor: #fff;
// $moduleCardIconDefaultBackground: #777;
$dashboardColor: #e91e63;
$moduleCardHoverOpacity: 0.7;
$btnPrimaryLinksColor: #fff;
$noteEditorFrameBorderColor: #ddd;
// $contentModuleBackground: #1abc9c;